body {
    background-image: url(https://www.artworkscincinnati.org/media/RockPaperScissors.jpg);
    background-size: 300px;
}


.heading {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h1 {
    font-family:'Candal'; font-size:50px;
}

.buttons {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%)
}

button {
    border-radius: 50%;
    padding: 10px;
}

#result {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%)
}

#winner {
    position: absolute;
    top: 78%;
    left: 50%;
    transform: translate(-50%, -50%) 
}
